@page "/"
@page "/SelectTechnician"
@using Grupp3_MobilApp.Services
@using Grupp3_MobilApp.Models
@inject ITechnicianService TechnicianService
@inject NavigationManager Navigation

<h3>Select Technician</h3>

@if (technicians == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive container card mt-3">
        <table class="table">
            <tbody>
            @foreach (var technician in technicians)
            {
                <tr @onclick="@(()=>DisplayOption(technician))">
                    <td>@technician.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}


@code {

    public IEnumerable<TechnicianModel> technicians;

    protected override async Task OnInitializedAsync()
    {
        technicians = await TechnicianService.GetAllTechnicians();
    }

    private void DisplayOption(TechnicianModel technician)
    {
        Navigation.NavigateTo($"MyErrands/{ technician.Id.ToString() }");
    }
}
